/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of CSS Reset*/

body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

/* 
-------------------------------------------------
Navigation CSS
-------------------------------------------------
*/
.navigation {
  background-color: rgba(255, 255, 255, 1);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
  border: 2px solid #1A7B72;
 }

.navigation ul {
  padding: 0;
}

.navigation li {
  color: #1A7B72;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
}

.navleft {
	float:left;
	padding-left: 40px;
	font-size: 50px;
	font-family: 'Bungee Inline', sans-serif;
}

.navright {
	float:right;
	font-size: 20px;
	margin-right: 40px;
	text-align: justify;
	font-family: "Freckle Face", sans-serif;
}

.navright img {
	height: 40px;
	width: 40px;
	margin-right: 10px;
	vertical-align: middle;
}

/* 
-------------------------------------------------
Cover CSS
-------------------------------------------------
*/
.cover {
	background: url("images/viking_ship_background_medium.jpg") no-repeat top center;
	background-position: center center;
	background-size: cover;
	height: 500px;
	width: 100%;
}

#cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position:relative;
  top: 200px;
  width: 70%;
  bottom: 300px;
}

#cover-content h1{
	font-size: 72px;
	text-align: center;
	line-height: 60px;
	font-family: 'Bungee Inline', sans-serif;
	padding: 20px 10px;
	padding-bottom: 30px;
	color:#1A7B72;
}

/* 
-------------------------------------------------
"Best" CSS
-------------------------------------------------
*/

.best {
  	text-align: center;
  	margin: 0 auto;
  	background-image: url("images/waves.jpg");
  	padding-top: 40px;
  	padding-bottom: 40px;
}

.best h2 {
	color:white;
	font-size: 50px;
	font-family: 'Lobster', sans-serif;
	color: #1A7B72;
}

/* 
-------------------------------------------------
"Choose" CSS
-------------------------------------------------
*/

.choose {
  height: 40px;
  text-align: center;
  font-size: 22px;
  font-style: italic;
  line-height: 40px;
  color: #1A7B72;
  letter-spacing: 2px;
  border: 2px solid #1A7B72;
}

/* 
-------------------------------------------------
Products CSS
-------------------------------------------------
*/
.productbackground {
	background-image: url("images/waves.jpg");
}

.products {
  display: block;
  margin-left: 100px;
  margin-right: auto;
  background-image: url("images/waves.jpg");
}

.cart-box {
  height: 300px;
  width: 300px;
  background: #29bcad;
  float: left;
  margin: 20px 8px 10px 8px;
}

.title-box {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  line-height: 45px;
  font-family: 'Freckle Face', sans-serif;
}
.img-box {
  background: #fff;
  margin-left: 5px;
  width: 290px;
  height: 200px;
  border: 5px solid double #1A7B72;
}

.img-box img {
  height: 200px;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tag-box {
  position: relative;
  height: 30px;
  width: 70px;
  background: #fff;
  color: #666;
  font-size: 18px;
  border: 3px solid #1A7B72;
  text-align: center;
  line-height: 30px;
  margin-top: -207px;
  margin-left: 225px;
}

a .btn-box {
  height: 30px;
  width: 140px;
  background: #80cec6;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid #1A7B72;
  text-align: center;
  margin: 10px auto;
  line-height: 30px;
}

a {
	text-decoration: none;
}

/* 
-------------------------------------------------
Page CSS
-------------------------------------------------
*/

.pages {
  height: 80px;
  clear: both;
  text-align: center;
  letter-spacing: 5px;
  font: 300 30px "Lobster";
}

.pages ul {
  display: inline-block;
}

.pages li {
  display: inline;
  text-decoration: underline;
  line-height: 80px;
}

.pages li a {
  color: #995521;
}



footer {
  font: 300 15px "Lobster", "Helvetica Neue", Arial, sans-serif;
  height: 130px;
  text-align: center;
  color: #fff;
  background: #29bcad;

}

footer h3 {
  color: #F6B26B;
  font-size: 20px;
  margin-bottom: 8px;
  padding-top: 10px;
  text-align: center;
}

footer img {
  width: 27px;
}

.contact {
  display: block;
  text-align: left;
  width: 230px;
  margin: 0 auto;
}

.contact h5 {
  vertical-align: top;
  display: inline-block;
  padding-top: 5px;
  padding-left: 20px;
}






